html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  animation: fadeIn 0.5s;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

.App-title {
  font-size: 8.5vmin;
  color: rgb(238, 236, 236);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opactiy: 1;
  }
}

.App-header {
  background-image: url(https://images.unsplash.com/photo-1534772861022-eddf45ef8aec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80);
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-header-resume {
  background-color: white;
  min-height: 260vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  text-align: center;
}

.App-header-contact {
  background-color: white;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  text-align: center;
}

.App-header-comments {
  min-height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
}

.commentstitle {
  color: #343a40;
}

.comments {
  color: #387db0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container5 {
  display: flex;
}

#cover {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#box {
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  min-height: 60vh;
  max-height: 60vh;
  min-width: 40vh;
  max-width: 40vh;
}

.resume {
  height: 100%;
  width: 100%;
}

.logo {
  min-width: 4vh;
  min-height: 4vh;
  min-height: 6vh;
  max-height: 6vh;
  padding: 5px;
}

.logotext {
  float: left;
  color: #387db0;
}

.linkedinlinkk {
  float: left;
  color: #387db0;
}

.linkedinlinkk:hover {
  color: #343a40;
}

.titlebox {
  background-color: #387db0;
  width: 600px;
  border: 15px;
  padding: 50px;
  margin: 0px;
  border-radius: 20px;
  font-size: 3vmin;
}

.languages {
  color: rgb(238, 236, 236);
}

.App-header-aboutme {
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: justify;
  min-height: 118vh;
}
.aboutmecontainer {
  padding: 2px 16px;
  background-color: white;
}

.aboutmedash {
  text-align: center;
  color: #343a40;
}

.aboutmepictures {
  width: 25%;
  display: inline-block;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.welcome {
  color: #387db0;
}

.main-footer {
  background-color: #343a40;
  color: white;
}
